<html>

<head>
    <title>Hotels Booking Application</title>

    <meta name="viewport" content="width=device-wdith, initial-scale=1.0">
    <!-- the link to the boostrap cdn  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Styles.css') }}">

    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <title>Document</title>






<body>

    <section class="header">
        <div class="container">
            <div id="nav-bar">
                <nav>

                    <ul>
                        <li class="nav-item"><a href="/"> Home </a></li>
                        <li class="nav-item"><a href="/hotels"> Hotels</a></li>
                        <li class="nav-item"><a href="/bookings"> Bookings</a></li>
                        <li class="nav-item"><a href="/bookingView"> Booking View</a></li>
                        <li class="nav-item"><a href="/SearchRooms"> Search</a></li>
                        <li class="nav-item"><a href="/rooms"> Rooms </a></li>
                        <li class="nav-item"><a href="/login"> login</a></li>
                        <li class="nav-item"><a href="/signup"> Signup</a></li>
                        <li class="nav-item"><a href="/logout"> logout</a></li>

                    </ul>
                </nav>

            </div>

        </div>
        <h1>Bookings</h1>
        <p>Welcome {{current_userd.Username}}</p>

        <form action="">

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="search">
                <div class="input-group-append">
                    <button type="button" class="input-group-text btn">Search</button>

                </div>
            </div>
        </form>

        <section class="features">
            <h1> Objects of Interest</h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-img">

                                <img src="Images/comets.jpg" alt="comet">

                            </div>
                            <div class="feature-details">
                                <h4>Comets</h4>
                                <p>Comets, with their pristine composition and unchanged state since the early solar
                                    system,
                                    serve as celestial time capsules offering crucial insights into the conditions
                                    prevailing during the formation of our cosmic neighborhood. Studying comets provides
                                    scientists with a unique opportunity to unravel the mysteries of the solar system's
                                    birth and evolution. Their significance in space exploration lies in the potential
                                    to
                                    unlock key details about the origin of planets, the distribution of volatile
                                    elements,
                                    and the broader dynamics that shaped the cosmos. </p>
                            </div>


                            <span><i class="fa fa-sun-o" aria-hidden="true"></i></span>
                            <span><i class="fa fa-moon-o" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-img">

                                <img src="Images/" alt="Mars">

                            </div>
                            <div class="feature-details">
                                <h4>Planet Mars</h4>
                                <p>Mars, often referred to as Earth's "sister planet," has captivated space exploration
                                    endeavors due to its potential for hosting evidence of past or present life.
                                    Understanding the geology, atmosphere, and potential habitability of Mars plays a
                                    pivotal role in advancing our knowledge of planetary evolution and informing future
                                    manned missions to explore its surface. </p>
                            </div>

                            <span><i class="fa fa-sun-o" aria-hidden="true"></i></span>
                            <span><i class="fa fa-moon-o" aria-hidden="true"></i></span>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="feature-box">
                            <div class="feature-img">

                                <img src="Images/gas-giants.jpg" alt="Gas Giant Picture">

                            </div>
                            <div class="feature-details">
                                <h4>Gas Giants</h4>
                                <p>Gas giants, such as Jupiter and Saturn, have been critical subjects of space
                                    exploration
                                    efforts, providing valuable insights into the composition, dynamics, and
                                    magnetospheric
                                    processes of these massive planets. Studying gas giants contributes to our
                                    understanding
                                    of planetary formation, the broader solar system dynamics, and provides a basis for
                                    comparative planetary science beyond Earth. </p>
                            </div>


                            <span><i class="fa fa-sun-o" aria-hidden="true"></i></span>
                            <span><i class="fa fa-moon-o" aria-hidden="true"></i></span>
                        </div>

                    </div>
                </div>
            </div>

        </section>

        <section class="banner">
            <form action="/bookings" method="post" class="jumbotron">



                <div class="form-group">

                    <input type="email" class="form-control" id="email" value=" {{current_userd.Email}}" name="email"
                        required>
                </div>

                <div class="form-group">

                    <input type="text" class="form-control" id="BranchAddress" name="BranchAddress"
                        placeholder="Branch Address" required>

                </div>
                <div class="form-group">

                    <input type="text" class="form-control" id="room_number" name="room_number"
                        placeholder="Room Number" required>

                </div>



                <div class="form-group">
                    start_date

                    <input type="date" class="form-control" name="start_date" placeholder="start date" required>

                </div>
                <div class="form-group">
                    end_Date

                    <input type="date" class="form-control" name="end_date" placeholder="end date" required>

                </div>







                <button type="submit" class="btn btn-success btn-sm btn-block"
                    style="width: 100;height: 50;color: aliceblue;">Book</button>
            </form>





        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>


</body>
</head>

</html>